<!DOCTYPE HTML>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>POC</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--<meta http-equiv="Cache-Control"
        content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <metaname ="screen-orientation"content="portrait">
    <metaname ="x5-orientation"content="portrait">
    <meta name="viewport"
        content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"> -->
    <!-- 将下列文件放在本地应用并引入 -->
    <link rel="stylesheet" type="text/css" th:href="@{/h5files/robot.css}">
    <script type="text/javascript" th:src="@{/h5files/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/h5files/robot.js}"></script>
    <script type="text/javascript" th:src="@{/h5files/asr.js}"></script>
    <script type="text/javascript" th:src="@{/h5files/recorder.mp3.min.js}"></script>
    <script type="text/javascript" th:src="@{/h5files/recorder.wav.min.js}"></script>
    <script type="text/javascript" th:src="@{/h5files/load.js}"></script>
    <!-- 自定义div层，用户渲染小机器人,position属性只支持relative和absolute -->
    <!-- 启动机器人 -->
    <script type="text/javascript">
        var recOpenFlag=false;
        function stop() {
            var audio = document.getElementById('audio-node');  //必须用原生js获取id，jquery无效
            if (audio !== null) {
                if (audio.paused) {
                    return;
                } else {
                    audio.pause();// 这个就是暂停
                }
            }
        }

        function changeRecord() {
            var recText = $.trim($('#record').text());
            if (recText == '开始录音') {
                //document.querySelector('.audio-node').pause();
                if(!recOpenFlag){
                    recOpen();
                }else{
                    recStart();
                }
                $('#record').text('结束录音');
            }
            if (recText == '结束录音') {
                LayerShow();
                recStop();
                $('#record').text('开始录音');
            }
        }

        $(function () {
            var menuDiv = $('#h5-robot-menuDiv');
            var robotDiv = $('#h5-robot-div');
            var outputDiv = $('#h5-robot-outputDiv');
            var inputDiv = $('#h5-robot-inputDiv');
            $(window).resize(function () {
                changeSize();
            });
            //苹果手机键盘显示到输入框下面
            $('#inputBox').focus(function () {
                window.setTimeout(function () {
                    $(window).scrollTop(10000);
                }, 500);
            });

            $('#inputBox').blur(function () {
            });
            //支持回车发送消息
            $('#inputBox').keyup(function (e) {
                if (e.keyCode == 13) {
                    $ibot.sendMsg();
                }
            });
            $('body').click(function () {
                stop();
            });

            function changeSize() {
                outputDiv.css('height', '100%');
                var height = outputDiv.height();
                outputDiv.css('height', (height - 60) + 'px');
                robotDiv.css('height', '100%');
                var htmlDiv = outputDiv[0];
                htmlDiv.scrollTop = htmlDiv.scrollHeight + 2;
            }

            $ibot.run('web', 'hello', {
                'robotAskUrl': 'http://gdyhsd.demo.xiaoi.com/robot/ask.action?t=' + new Date().getTime()
            });
            $('#upBtn').click(function () {
                menuDiv.slideToggle();
                inputDiv.slideToggle();
            });
            $('#downBtn').click(function () {
                menuDiv.slideToggle();
                inputDiv.slideToggle();
            });

        });
    </script>
</head>

<body>
<div id="h5-robot-div">
    <div id="h5-robot-outputDiv"></div>
    <div id="h5-robot-menuDiv">
        <table class="h5-bottom-table">
            <tr>
                <td style="width: 43px; text-align: left;">
                    <div id="upBtn" class="boder-right" style="width: 46px;">
                        <img th:src="@{/h5files/images/up-btn.png}"
                             style="width: 42px; height: 43px;">
                    </div>
                </td>
                <td>
                    <div onclick="changeRecord()" style="cursor: pointer">
                        <span id="record">开始录音</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <audio id="audio-node" class="audio-node" autoplay></audio>
    <div id="h5-robot-inputDiv" style="display: none">
        <table class="h5-bottom-table">
            <tr>
                <td style="width: 43px; text-align: left;">
                    <div id="downBtn" class="boder-right" style="width: 46px;">
                        <img th:src="@{/h5files/images/down-btn.png}"
                             style="width: 42px; height: 43px;">
                    </div>
                </td>
                <td>
                    <input id="inputBox" type="text" class="inputBox radius-box"
                           value="" maxlength="100">
                </td>
                <td style="width: 60px;">
                    <a id="sendBtn" class="radius-box" href="javascript:void(0);">发送</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
